@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$-bg-color: #000;
$-element-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin setBg($color) {
  background-color: $color;
}

@mixin centerDiv() {
  display: flex;
  justify-content: center;
  align-items: center
}
@mixin alignContainer(){
  display: flex;
  justify-content: space-between;
  align-items: center
}
body {
  @include setBg($-bg-color);
  font-family: 'Roboto', sans-serif;
}
.progress-bars {
   width: 100%;
   padding: 100px 50px;
   @include alignContainer();
   .line{
    z-index: 1;
    position: absolute;
    height: 2px;
    width: 94%;
    left: 3%;
    @include setBg($-element-color)
   }
  .progress-bar {
    z-index: 2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    @include centerDiv();
    @include setBg($-element-color);
  }
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: right;
  button{
    cursor: pointer;
    border: none;
    margin: 0 10px;
    padding: 10px 30px;
    @include setBg($-element-color);
  }
}